/* font import */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3, h4{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

}

h5, h5, p{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.page{
    min-height: 100vh;
}
.title{
    font-size: 80px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* #home{
    position: sticky;
    top: 0;
} */
/* text reveal */
#container {
    padding: 100px 20px 0;
    max-width: 960px;
    margin: 0 auto;
  }
  .lead-title {
    margin: 0;
    text-align: center;
    font-size: 300px;
    overflow: hidden;
    line-height: 1;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  h1 span {
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }
  
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }


  /*list icons */

  .icon-list{
    display: flex;
  }
.icon{
    position: relative;
    display: block;
    /* width: 25px; */
    /* height: 25px; */
    /* line-height: 60px; */
    border-radius: 50%;
    margin: 20px;
    /* margin: 15px 15px; */
    cursor: pointer;
    transition: .5s;

}

.icon::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}


/* about icons */

.icons img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}

.icons{
    text-decoration: none !important;
    margin-top: 5px;
}